<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br />
    <p class='overlayMessage'>Getting data, this will take a few seconds</p>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="sideNav" aria-labelledby="offcanvasExampleLabel">
    <div class="sidebar-container">
        <div class="sidebar-logo">
            UT Energy Hub
        </div>
        {{> sidebarAdmin}}
    </div>

</div>
<div class="container-fluid" style='height: 100%'>
    <div style="height: 100%;" class="row">
        <div style="width: 30.5%" class="col-xxl-4 col-lg-4 searchBox">
            <button class="btn btn-dark sidebar" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideNav"
                aria-controls="offcanvasExample">
                <i class="fas fa-chevron-right"></i>
            </button>
            <div class="input-group mb-3 mt-3">
                <label class="input-group-text" for="filter-steward">Steward:</label>
                <select class="form-select" id="filter-steward">
                    <option disabled selected>Select Steward</option>
                    <option value='All'>All</option>
                    <option value='adam.keeling@austin.utexas.edu'>Adam Keeling</option>
                    <option value="grace.hsieh@austin.utexas.edu">Grace Hsieh</option>
                    <option value="matt.stevens@austin.utexas.edu">Matt Stevens</option>
                    <option value="mjones@austin.utexas.edu">Meagan Jones</option>
                </select>
                <button type='button' class="btn btn-primary filterBySteward">Apply</button>
            </div>

            <input id='search' style="width: 20%; display: inline-block" class="form-control headings mb-3" type="text"
                placeholder="Search" aria-label="default input example">

            <select style="width: 26%; display: inline-block; margin-left: 20%" class="form-select remove0"
                aria-label="Default select example">
                <option disabled selected>Remove 0's</option>
                <option>Yes</option>
                <option>No</option>
            </select>

            <select style="width: 29%; display: inline-block" class="reviewedFilter form-select ms-3"
                aria-label="Default select example">
                <option disabled selected>Show Reviewed</option>
                <option>All</option>
                <option>Yes</option>
                <option>No</option>
            </select>

            <div style="height: 500px; overflow: scroll; overflow-x: hidden">
                <table class="table meterData text-light">
                    <thead>
                        <tr>
                            <th style="width: 15px" scope="col"></th>
                            <th scope="col">Building</th>
                            <th scope="col">Meter</th>
                            <th scope="col"># Flagged Days</th>
                            <th scope="col">Reviewed</th>
                        </tr>
                    </thead>
                    <tbody class='meterList'>
                    </tbody>
                </table>
                <div class="meterSelectionSpinner text-center">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <button style=" color:white" type="button" id="button" class="confirmMeter btn btn-success mt-3">Confirm
                Meter
                Selection</button>
            <div id="modelNotes" style="display: none; position: relative" class="form-floating mt-3">
                <textarea  disabled class="form-control modelNotes" id="floatingTextarea2"
                    style="height: 100px"></textarea>
                <label class='text-dark notesLabel' for="floatingTextarea2"></label>
                <label style="display: none" class='text-dark notesLabelBuildingNumber' for="floatingTextarea2"></label>
                <button style="display: none; position: absolute; bottom: 3%; right:.2%" type="button" class="btn btn-success editModelNote">Submit Note</button>
            </div>
            <ul class="list-group mt-3 mb-3">
                <li class="list-group-item listGroupColor">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Current Meter Selection:</div>
                        <div class="meterSelection">--</div>
                    </div>
                </li>
            </ul>
            <div class="input-group flex-nowrap mt-3">
                <span style='width: 120px' class="input-group-text" id="addon-wrapping">Model Start:</span>
                <input autocomplete="off" id="modelStart" type="text" class="form-control datepicker  modelStart"
                    placeholder="yyyy/mm/dd" aria-label="Model Start Date" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap mt-3">
                <span style='width: 120px' class="input-group-text" id="addon-wrapping">Model End:</span>
                <input type="text" class="form-control datepicker  modelEnd" placeholder="yyyy/mm/dd"
                    aria-label="Model End Date" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap mt-3">
                <span style='width: 120px' class="input-group-text" id="addon-wrapping">Analysis Start:</span>
                <input type="text" class="form-control datepicker  analysisStart" placeholder="yyyy/mm/dd"
                    aria-label="Analysis Start Date" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap mt-3">
                <span style='width: 120px' class="input-group-text" id="addon-wrapping">Analysis End:</span>
                <input type="text" class="form-control datepicker  analysisEnd" placeholder="yyyy/mm/dd"
                    aria-label="Analysis End Date" aria-describedby="addon-wrapping">
            </div>
            <button style="background-color: #bf5700;" class="btn btn-primary loadModel mt-3 mb-3 w-100 load"
                type="button">Run Model</button>
        </div>
        <div style='width: 69.5%' class="col-xxl-8 col-lg-8">
            <li class='headings'>
                <h6 style='color: white'>Building:
                    <span class="units currentBuildingName">--</span>
                </h6>
            </li>
            <li class='headings'>
                <h6 style='color: white'>Meter:
                    <span class="units currentMeter">--</span>
                </h6>
            </li>
            <li class='headings'>
                <h6 style='color: white'>Variable:
                    <span class="units meterVariable">--</span>
                </h6>
            </li>
            <li style="display: none;" class='headings'>
                <h6 style='color: white'>Commodity:
                    <span class="units currentCommodity">--</span>
                </h6>
            </li>
            <header class='currentAttributes'>
                <li class='headings'>
                    <h6 style='color: white;'>Current Model:
                        <span style='color: transparent' class="units ">.</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>Base Temp:
                        <span class="units baseTemp">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>% Auto Ignored:
                        <span class="units autoIgnored">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>Slope:
                        <span class="units slope">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>Intercept:
                        <span class="units intercept">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>R-Squared:
                        <span class="units r2">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>Std Dev:
                        <span class="units stdDev">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>Start Date:
                        <span class="units start">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>End Date:
                        <span class="units end">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <button style='margin-bottom: 20px; display: none' type="button"
                        class="btn btn-success saveAttributes text-center">Save</button>
                </li>
                <li class='headings reviewedButton'>

                </li>

            </header>
            <header style="display: none;" class='savedAttributes'>
                <li class='headings'>
                    <h6 style='color: white'>Saved Model:
                        <span style='color: transparent' class="units">.</span>
                    </h6>
                </li>

                <li class='headings'>
                    <h6 style='color: white'>Base Temp:
                        <span class="units savedBaseTemp">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>% Auto Ignored:
                        <span class="units savedAutoIgnored">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>Slope:
                        <span class="units savedSlope">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>Intercept:
                        <span class="units savedIntercept">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>R-Squared:
                        <span class="units savedR2">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>Std Dev:
                        <span class="units savedStdDev">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>Start Date:
                        <span class="units savedStart">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <h6 style='color: white'>End Date:
                        <span class="units savedEnd">--</span>
                    </h6>
                </li>
                <li class='headings'>
                    <button style='margin-bottom: 20px; margin-left: 11px' type="button"
                        class="btn btn-primary headings copyAttributeDates">Copy Dates</button>
                </li>

            </header>

            <div style="display: none;" class="displayData">
                <div style="width: 100%;" id="consumptionRow">
                    <div class="row mt-3">
                        <div class="col-md-3 collapseButton">
                            <button class="btn btn-primary show-hide" type="button" data-bs-toggle="collapse"
                                data-bs-target="#myCollapse" aria-expanded="false" aria-controls="myCollapse">
                                <i class="fa fa-eye"></i> <span>Show Historic</span>
                            </button>
                        </div>
                    </div>
                    <div class="mt-3 collapse" style="width: 100%;" id="myCollapse">
                        <div class="collapseChart">
                            <div class="card card-body">
                                <div id="dashboard">
                                    <div id="chart_div"></div>
                                    <div id="control_div"></div>
                                    <h4 class='text-center mt-3' style="color: white"><span id='dbgchart'></span>
                                    </h4>
                                    <div class="div text-center">
                                        <button type="button" class="btn btn-success copyModelDates">Copy selected
                                            dates to
                                            Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='chartData' class="row responsive mt-3">
                    <div id="hideIfWater" class="col-xxl-6 col-xl-12">
                        <div class="card">
                            <div style="height: 500px" class="card-body">
                                <canvas class="myChart" id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div id="fullWidth" class="col-xxl-6 col-xl-12">
                        <div class="card">
                            <div style="height: 500px" class="card-body">
                                <canvas id="myChart2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="successAlert"></div>
                <div id="tableData" class="row mb-3 responsive">
                    <div class="col-xxl-12 col-xl-12 text-start">
                        <div class='card w-100'>
                            <div class='card-body'>
                                <ul class="list-group list-group-horizontal mb-3">
                                    <li style="color: white; border: .5px solid; border-color: black"
                                        class="list-group-item bg-transparent"><i style="color: #F0AD4E"
                                            class="fas fa-square"></i> Value <i class="fas fa-less-than-equal"></i> Low
                                        Limit</li>
                                    <li style="color: white; border: .5px solid; border-color: black"
                                        class="list-group-item bg-transparent"><i style="color: #d9534f"
                                            class="fas fa-square"></i> Value <i class="fas fa-greater-than-equal"></i>
                                        High Limit</li>
                                    <li style="color: white; border: .5px solid; border-color: black"
                                        class="list-group-item bg-transparent"><i style="color: #0275d8"
                                            class="fas fa-square"></i> Value same as previous day</li>
                                </ul>
                                <div class='scroll' style="height: 1000px; overflow: scroll; overflow-x: hidden">
                                    <table class="table text-light tableData">
                                        <thead>
                                            <tr>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Temperature</th>
                                                <th class='x' scope="col"></th>
                                                <th scope="col">Meter Reading</th>
                                                <th scope="col">Expected</th>
                                                <th scope="col">Replacement</th>
                                                <th scope="col">Reason</th>
                                                <th scope="col">Notes</th>
                                            </tr>
                                        </thead>
                                        <tbody class='tableBody'>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent">
                                <div class="row d-flex justify-content-evenly">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <label class='input-group-text' for="reason">Reason</label>
                                            <select class="form-select" id="reason" aria-label="Default select example">
                                                <option disabled selected>Choose...</option>
                                                <option>Investigate</option>
                                                <option>Meter Issue</option>
                                                <option>Building Maintenance Issue</option>
                                                <option>Major Renovation/Addition in Progress</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-primary w-100" type="button" data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasBottom"
                                            aria-controls="offcanvasBottom">Notes</button>
                                    </div>
                                    <div class="col-md-3 replace d-flex justify-content-center align-items-center">
                                        <div class="form-check">
                                            <label class="form-check-label" for="replace">
                                                Replace?
                                            </label>
                                            <input class="form-check-input" type="checkbox" id="replace">

                                        </div>
                                    </div>
                                    <div class="col-md-3 ms-auto">
                                        <button disabled style="background-color: #bf5700; color: white"
                                            id="submitReplacement" class="btn w-100 load" type="button">Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="offcanvas offcanvas-bottom text-end" data-bs-scroll='true' tabindex="-1" id="offcanvasBottom"
        aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Notes</h5>
            <button type="button" class="btn-close text-reset mr-2" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
            <textarea id='notes' style="width: 100%; height: 100%"></textarea>
        </div>
    </div>